*{
  margin: 0;
  padding: 0;
}
header{

  width: 90%;
  
  display: flex;
  
  justify-content: space-between;
  
  margin-left: 5%;
  margin-top: 25px;
  }
  
  .logo{
  
  width: 20%;
  }
  nav{
  
  width: 50%;
  }
  nav ul{
  
  display: flex;
  
  justify-content: space-between;
  
  list-style: none;
  color: #626262;
  font-family: "Playfair Display", serif;

  
  }
  nav ul li{
  
      
  /* display: flex; */
  }
  nav ul li a{
    text-decoration: none;
  }
  .banner_section{
      width: 90%;
      margin: 5%;
  }
  .banner_section img{
      width: 100%;
  }
  .photodiary{
      width: 80%;
      margin: 10%;
      margin-top: 70px;
      margin-bottom: 70px;
      /* color: #b4ad9e; */
  }
  .photodiary h5{

color: #b4ad9e;

text-transform: uppercase;

font-weight: 400;

font-size: 14px;

margin-bottom: 15px;
font-family: "Ubuntu", sans-serif;

}
  .photodiary h1{

color: #626262;

text-transform: capitalize;

font-weight: 400;

font-size: 30px;

margin-bottom: 20px;
font-family: "Playfair Display", serif;

}
  .photodiary p{

color: #626262;

margin-bottom: 30px;

font-size: 14px;
font-family: "Playfair Display", serif;

/* font-weight: 400; */

}
  .photodiary h6{
      
color: #b4ad9e;
      
text-transform: uppercase;
      
font-weight: 400;
      
font-size: 14px;
      
margin-bottom: 15px;
font-family: "Ubuntu", sans-serif;
line-height: 25px;
  }
/*  // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
} */

/* ubuntu-light {
font-family: "Ubuntu", sans-serif;
font-weight: 300;
font-style: normal;
}

.ubuntu-regular {
font-family: "Ubuntu", sans-serif;
font-weight: 400;
font-style: normal;
}

.ubuntu-medium {
font-family: "Ubuntu", sans-serif;
font-weight: 500;
font-style: normal;
}

.ubuntu-bold {
font-family: "Ubuntu", sans-serif;
font-weight: 700;
font-style: normal;
}
*/
.feature_section{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

flex-wrap: wrap;
}
.feature_item{

width: 48%;

margin-bottom: 70px;
}
.feature_item img{

width: 100%;

margin-bottom: 15px;
}
.feature_item h5{

color: #b4ad9e;

text-transform: uppercase;

font-weight: 400;

font-size: 14px;

margin-bottom: 15px;

font-family: "Ubuntu", sans-serif;
}
.feature_item h1{

color: #626262;

text-transform: capitalize;

font-weight: 400;

font-size: 30px;

margin-bottom: 20px;

font-family: "Playfair Display", serif;
}
.feature_item p{

color: #626262;

margin-bottom: 30px;

font-size: 14px;

font-family: "Playfair Display", serif;
}
.newsletter{

background: #f0f0f0;

padding: 70px;

margin-bottom: 70px;
}
.content{

width: 32%;

margin: auto;
}
.content h2{

color: #626262;

text-transform: capitalize;

font-weight: 400;

font-size: 30px;

margin-bottom: 50px;

font-family: "Playfair Display", serif;
}
.content input{
  
border: none;
  
/* border: 1px solid; */
  
border-bottom:  1px solid #000;
  
background: transparent;
  
width: 100%;
}
.content input:focus{
  outline: none;
}
.content input::placeholder{
  font-family:"Playfair Display", serif ;
  color: #626262;
  text-transform: capitalize;
}
.loadmore{

text-align: center;

margin: 50px 0;

text-transform: capitalize;
}
.loadmore button{
  border: 1px solid #000;
  padding: 20px 30px;
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  color: #626262;
}
footer{

background-color: #f0f0f0;

padding: 30px;

margin-top: 150px;
}
.footer_content{

justify-content: space-between;

display: flex;

width: 80%;

margin: auto;
}
.terms{

}
.terms ul{

display: flex;
}
.terms ul li{

margin-right: 30px;

list-style: none;
}
.terms ul li a{

text-transform: capitalize;

text-decoration: none;

color: #626262;

font-size: 16px;
}
.social_icon{

}
.social_icon ul{

display: flex;

list-style: none;
}
.social_icon ul li{

margin-left: 15px;
}
.social_icon ul li a{
  color: #626262;
  text-decoration: none;

}
